<div class="row">
    <div class="col-md-6">
        <form (ngSubmit)="save(f.value)" #f="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
              <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                 Title is required.
              </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">&#8377;</span>
                </div>
                <input #price="ngModel" required [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" [min]="0">
              </div>
              <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                <div *ngIf="price.errors.required">Price is required.</div>
                <div *ngIf="price.errors.min">Price should be 0 or higher.</div>  
              </div>
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select #category="ngModel" required [(ngModel)]="product.category" name="category" 
              id="category" class="form-control" >
              <option value="" >sample</option>
              <option *ngFor="let categories of categories$; let i = index" 
              [value]="categories.name"  >{{categories.name}}</option>
              </select>
              <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                Category is required.
             </div>
            </div>
            <div class="form-group">
              <label for="imageUrl">Image Url</label>
              <input #imageUrl="ngModel" required [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" url>
              <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
                <div *ngIf="imageUrl.errors.url">Please enter a valid Url</div>
              </div>  
            </div>
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-danger" (click)="delete()" >Delete</button>
          </form>
    </div>
    <div class="col-md-6">
        <product-card [product]="product" [show-actions]="false" ></product-card>
    </div>    
</div>

